@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .image {
    -webkit-mask-image: url(./assets/o3.png);
    -webkit-mask-position: center ;
    -webkit-mask-size: 42vw;
    -webkit-mask-repeat: no-repeat;
    height: 100%;

  }
  /* .bg{
    background-image: url(./assets/imagessssnack.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;

  } */
  .perspective{
    perspective: 2200px;
  }
}

.img-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
  transform-origin: center center;
}


.img-container {
  transition: transform 0.2s ease-out;
}

.image {
  transition: transform 0.2s ease-out;
}

body {
  margin: 0;
  overflow-x: hidden;
}

img {
  transition: transform 0.2s ease-in-out;
}

.glitch-text {
  transition: transform 0.2s ease-out;
}
